@use "abstracts" as *;

@forward "base";
@forward "compositions";
@forward "utilities";
@forward "blocks";

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.ai--center {
    align-items: center;
}

.text--center {
    text-align: center;
}

.black_2_accent {
    filter: contrast(0.11) sepia(1) hue-rotate(325deg) contrast(13);
}

.colorize_image {
    filter: contrast(1) sepia(1) hue-rotate(160deg) grayscale(0.8) !important;
}

.region {
    padding-block: var(--region-space, 6.6vmax);
}


// -----------------------------------------------------------------------------
// Brand
// -----------------------------------------------------------------------------

section.title .wrapper,
section.services .wrapper--wide {
    text-align: center;

    h1 {
        margin-block-start: var(--space-2xs);
    }
}

.title .bgimage {
    --region-space: 12.12vmax;
}


// -----------------------------------------------------------------------------
// Brand
// -----------------------------------------------------------------------------

.brand {
    font-size: var(--fs-step-1);
    color: var(--primary-800);
    font-family: var(--ff-heading);
    font-weight: var(--fw-bold);
    text-decoration: none;
}


// -----------------------------------------------------------------------------
// Block_title
// -----------------------------------------------------------------------------

section.bgimage {
    position: relative;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, .55);
    }

    .wrapper {
        position: relative;
        z-index: 2;
        color: var(--neutral-0);
    }
}


// -----------------------------------------------------------------------------
// Block_services
// -----------------------------------------------------------------------------

section.services {
    .wrapper h1 {
        text-align: center;
    }

    .wrapper + .wrapper {
        margin-block-start: var(--space-xl-2xl);
    }
}

// block_service

section.service {

    .meta {
        width: fit-content;
        margin-inline: auto;
    }

    .featuredimage {
        max-height: 25rem;
        margin-inline: auto;
    }
}

// dropdown
.dropdown-multiselect {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--radius-s);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--neutral-0);
  min-width: max-content;
  border: 1px solid var(--neutral-200);
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  border-radius: var(--radius-s);
}
.dropdown-multiselect:hover .dropdown-content {
  display: block;
}
.dropdown-content label {
  display: block;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}


// -----------------------------------------------------------------------------
// Block_services
// -----------------------------------------------------------------------------


.reviews {
    background: var(--neutral-50);
    
    &__list {
        position: relative;
    }

    &__item {

    }
}


.reviews__list .box {
    display: flex;
    flex-direction: column-reverse;
    padding: var(--space-m);
    justify-content: space-between;
    gap: var(--space-m);

    .avatar {
        --_avatar-size: var(--avatar-size, 3.25rem);
        width: var(--_avatar-size);
        height: var(--_avatar-size);
        object-fit: cover;
        border-radius: var(--radius-full);
    }

    .function {
        color: var(--function-foreground, var(--neutral-700));
        line-height: 1.45;
    }

    .stars {
        display: flex;
        gap: var(--space-3xs);
        margin-block-end: 1.5rem;

        img {
            height: 1rem;
        }
    }
}


// -----------------------------------------------------------------------------
// Block_faq
// -----------------------------------------------------------------------------

.faqs {
    details {
        display: flex;
        flex-direction: column;
        gap: 1px;
        
        summary {
            font-weight: var(--fw-bold);
            padding: var(--space-s);
            color: var(--primary-900);
            background: var(--neutral-100);
            border-radius: var(--radius-xs);
            cursor: pointer;
        }

        & > div {
            padding: var(--space-m);

            *:first-child {
                margin-block-start: 0;
            }
        }
    }  
}


// -----------------------------------------------------------------------------
// Block_cta
// -----------------------------------------------------------------------------


.cta .box {
    padding: var(--box-spacing, var(--space-l));
    border-radius: var(--radius-l);
    background: var(--neutral-100);

    h3 {
        margin-block-start: 0;
    }

    p:last-of-type + .button {
        margin-block-start: var(--space-m);
    }
}


// -----------------------------------------------------------------------------
// block_about
// -----------------------------------------------------------------------------

section.about .wrapper p img.colorize_image {
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    aspect-ratio: 1;
    max-width: 25rem;
    object-fit: cover;
    justify-self: center;
}


// -----------------------------------------------------------------------------
// Block_contact
// -----------------------------------------------------------------------------

.contact .box {
    background: var(--neutral-100);
    padding: var(--space-m);
    border-radius: var(--radius-m);
}


// -----------------------------------------------------------------------------
// Block_404
// -----------------------------------------------------------------------------

.error404 img {
    margin-inline: auto;
    max-width: 30rem;
}


// -----------------------------------------------------------------------------
// input
// -----------------------------------------------------------------------------

input:not([type="submit"], [type="checkbox"], [type="radio"]),
textarea {
    width: 100%;
    padding: var(--space-2xs);
    border: 1px solid var(--neutral-200);
    border-radius: var(--radius-s);
}

.box {
    padding: var(--box-spacing, var(--space-l));
    border-radius: var(--radius-l);
    background: var(--neutral-0);
    box-shadow: var(--shadow-xs);
}


//
//
//

.about ul.buttons.social {
    max-width: fit-content;
    margin-block-start: var(--space-m);
    margin-inline: auto;
}


ul.buttons.social {
    .button {
        background: var(--primary-500);
    }
    .button.icon {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 2.25rem;

        img {
            width: calc(100% - 1.25em);
            height: calc(100% - 1.25em);
            filter: invert(1);
        }
    }
}
