{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
{{- with page.Site.GetPage "blocks/services.md" -}}
{{- $inner = .RawContent -}}
{{- end -}}
{{- end -}}
{{- $services := sort (where page.Site.RegularPages "Section" "services") "Params.weight" "asc" -}}
<section class="services region">
    {{ if $inner }}
    <div class="wrapper wrapper--small">
        {{- markdownify $inner -}}
    </div>
    {{ end }}
    <div class="wrapper flow">
        <ul class="contentitems grid services" data-layout="halves" role="list">
            {{ range $index,$service := $services }}
            <li class="item {{ range .Params.tags }} tag_{{ . }}{{ end }}">
                {{- if (resources.GetMatch .Params.image) -}}
                {{- $serviceimage := ((resources.GetMatch .Params.image).Fill `1200x600 jpg Smart q50`).RelPermalink -}}
                {{- if $serviceimage -}}<a href="{{ .RelPermalink }}">
                    <div class="img"><img data-src="{{ $serviceimage }}" alt="{{ .Title }}" style="cursor: pointer;"
                            onclick="document.location.href='{{ .RelPermalink }}';" /></div>
                </a>{{- end -}}
                {{- end -}}
                <h3 class="h4">{{ .Title | safeHTML }}</h3>
                {{ if .Params.date }}
                <div class="meta">
                    <div>
                        <img src="/img/icons/material-symbols/200/rounded/calendar_month-fill.svg"
                            class="black_2_textDark" alt="" />
                        {{ .Date | time.Format ":date_medium"}}
                    </div>
                </div>
                {{ end }}
                <div class="summary">
                    <p>{{ substr (.Summary | plainify) 0 150 | safeHTML }}...</p>
                    <p><a href="{{ .RelPermalink }}" class="button">{{ i18n "Read more" }}</a></p>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>