<footer class="[] [] [ region ]">
    <div class="wrapper">
        <div class="flex-group flex-group--between">
          <span>Copyright {{ now.Year }} door <strong>{{ .Site.Title }}</strong>. All rights reserved.</span>
          {{ partial "socialbuttons" . }}
        </div>

        <hr>

        <div class="made-by">
          gemaakt door <a href="https://gorillamade.nl/">GorillaMade</a>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('.nav');

    hamburger.addEventListener('click', function () {
      this.classList.toggle('open');
      nav.classList.toggle('open');
    });
  });
</script>