// -----------------------------------------------------------------------------
// Site header
// -----------------------------------------------------------------------------

.site-header {
    border-bottom: 1px solid var(--neutral-100);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: fit-content;
        padding-block: var(--space-xs);
    }
}